@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

.chat-user{
  width: 50px;
  height: 30px;
  box-sizing:border-box;
  display:flex;
  
}

.container {
  font: 14px/20px "Lato", Arial, sans-serif;  
  color: white;
  margin: 0 auto;
  width: 300px;
  overflow-y: scroll;
  background: #444753;
  border-radius: 5px;
  text-align: center;
  padding-top: 20px;
}
.people-list {
  width: 100%;
  float: left;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}

.people-list ul {
    margin-top:100px;
  padding: 20px;

}
.people-list ul li {
  padding-bottom: 20px;
  display: inline-block
}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}
.chat {
  width: 490px;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}
.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}
.online {
  color: #86BB71;
}
.offline {
  color: #E38968;
}
.me {
  color: #94C2ED;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.float-right {
  float: right;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
    padding-top:20px;
    display: flex;
    align-items: center;
  }
  
  .clearfix img {
    margin-right: 10px; /* Ajustez la marge selon vos besoins */
  }
  
  .clearfix .about {
    flex: 1;
  }
  
  .clearfix .name {
    font-weight: bold;
    width:100%
  }
  
  .clearfix .status {
    display: flex;
    align-items: center;
  }
  
  .clearfix .status i {
    margin-right: 5px; /* Ajustez la marge selon vos besoins */
  }
  
  
  .status:has( > .online){
    color:green !important;
    }
   
    

  li:has(.offline){
    opacity: 0.5;
    cursor:not-allowed
  }

  li:has(.online){
    cursor:pointer
  }

  .status:has(> .offline){
    color:red !important; 
    opacity: 1 !important;
    font-weight: bolder;
  }
  .no_mess{
    color:#75b1e8;
    width:100%
  } 


  
/* chat open and close */
.chat-window2 .hideAddChat{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}
  
  /* chat window 1 */
  .chat-window {
    width: 332px;
    height: 280px;
    border-radius: 10px;
    background-color: #fff;
    padding: 16px;
    z-index: 9999999;
    position: fixed;
    bottom: 120px;
    right: 54px;
    display: none;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
  }
  .hi-there {
    background-color: #7f8ac5;
    color: #fff;
    padding: 20px 30px;
    border-radius: 5px;
  }
  .hi-there .p1 {
    font-size: 20px;
  }
  .hi-there .p2 {
    font-size: 13px;
  }
  .chat-window .start-conversation {
    padding: 15px 24px;
  }
  .chat-window .start-conversation h1 {
    font-size: 15px;
  }
  .chat-window .start-conversation p {
    font-size: 12px;
  }
  .chat-window .start-conversation button {
    cursor: pointer;
    border: none;
    border-radius: 20px;
    padding: 7px 30px;
    margin: 10px 0px;
    background-color: #13a884;
    color: white;
  }
  .chat-window .start-conversation button span {
    font-size: 14px;
  }
  .chat-window .start-conversation button i {
    font-size: 16px;
    position: relative;
    left: 6px;
    top: 3px;
  }
  
  /* chat window 2 */
  .chat-window2 .modal {
    display: block;
    width: 332px;
    height: 434px;
    border-radius: 10px;
    background-color: #fff;
    padding: 16px;
    z-index: 9999999;
    position: fixed;
    bottom: 120px;
    right: 54px;
    box-shadow: rgb(0 0 0 / 10%) 0px 1px 6px, rgb(0 0 0 / 20%) 0px 2px 24px;
  }
  .chat-window2 .hi-there .p2 {
    font-size: 12px;
  }
  .message-box {
    height: 316px;
    width: 100%;
    padding-right: 5px;
    overflow: auto;
  }
  .message-box .first-chat {
    width: 200px;
    float: right;
    background-color: #4c5aa1;
    padding: 10px;
    margin: 14px 0px;
    border-radius: 5px;
    color: white;
  }
  .message-box .first-chat p {
    font-size: 12px;
    overflow-wrap: break-word;
  }
  .message-box .first-chat .arrow {
    content: "";
    width: 0px;
    height: 0px;
    border-left: 9px solid transparent;
    border-right: 9px solid #4c5aa1;
    border-top: 9px solid #4c5aa1;
    border-bottom: 9px solid transparent;
    right: -172px;
    bottom: -23px;
    position: relative;
    margin-top: -15px;
  }
  
  .message-box .second-chat {
    display: inline-block;
  }
  
  .message-box .second-chat .circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
    padding: 10px;
    margin-top: 10px;
    margin-right: 5px;
  }
  .message-box .second-chat #circle-mar {
    margin-top: 5px;
  }
  
  .message-box .second-chat p {
    font-size: 12px;
    overflow-wrap: break-word;
  }
  .message-box .second-chat p {
    width: 200px;
    float: left;
    background-color: #ecf1fb;
    padding: 12px;
    margin: 0px 5px;
    border-radius: 10px;
    color: #000;
  }
  .message-box .second-chat .arrow {
    content: "";
    width: 0px;
    height: 0px;
    border-right: 9px solid transparent;
    border-left: 9px solid #ecf1fb;
    border-top: 12px solid #ecf1fb;
    border-bottom: 9px solid transparent;
    margin-left: 40px;
    margin-top: -2%;
    display: inline-block;
  }
  
  .chat-window2 .input-box {
    position: absolute;
    font-size: 12px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px 30px;
    padding-bottom: 18px;
    border-top: 1px solid lightgray;
  }
  .chat-window2 .input-box .write-reply {
    float: left;
  }
  .chat-window2 .input-box .write-reply input[type="text"] {
    border: none;
    outline: none;
    font-size: 14px;
  }
  .chat-window2 .input-box .send-button {
    float: right;
    border: none;
    outline: none;
  }
  .chat-window2 .input-box .send-button button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
  }
  .chat-window2 .input-box .send-button button i {
    color: grey;
    font-size: 20px;
    font-weight: bold;
  }
  .chat-window2 .input-box .surveysparrow img {
    width: 15px;
    margin-bottom: -4px;
  }
  .chat-window2 .input-box .surveysparrow p {
    display: inline;
    font-size: 10px;
    color: #636262;
  }
  .chat-window2 .input-box .surveysparrow {
    position: relative;
    bottom: 28px;
    right: -65px;
  }
  .chat-header {
    background-color: #3498db;
    color: #fff;
    padding: 15px;
    text-align: center;
}
  .input-box{
    background-color: white !important;
  }
  /* RESPONSIVE */
  @media screen and (max-width: 396px) {
    .chat-window {
      right: 14px;
      bottom: 87px;
    }
    .hi-there {
      padding: 12px 30px;
    }
    .chat-window2 {
      right: 14px;
      bottom: 87px;
      height: 420px;
    }
    .chat-bar-open {
      bottom: 20px;
      right: 21px;
    }
    .chat-bar-close {
      bottom: 21px;
      right: 25px;
    }
    .message-box .second-chat .arrow {
    margin-left:41px;
    }
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.typing-animation {
  animation: fadeInOut 2s infinite; /* Standard syntax */
  -moz-animation: fadeInOut 2s infinite; /* Firefox-specific syntax */
}